#Idade na base

In [0]:
%sql
SELECT *   FROM silver.points.transacoes
WHERE idCliente = "f4e13662-c29f-4143-b2fa-d195f20f041d"

In [0]:
%sql
SELECT *   FROM silver.points.transacao_produto
WHERE idTransacao = "06ba6d0e-aae9-4b7c-a6a6-43e3156b411d"

In [0]:
%sql
SELECT *   FROM silver.points.produtos
--WHERE idTransacao = "06ba6d0e-aae9-4b7c-a6a6-43e3156b411d"

In [0]:
%sql
with tb_transacoes_produto AS (

    SELECT t1.idCliente,
          t1.dtCriacao,
          t1.idTransacao,
          t2.idTransacaoProduto,
          t2.idProduto,
          t3.descNomeProduto

    FROM silver.points.transacoes AS t1

    LEFT JOIN silver.points.transacao_produto AS t2
    ON t1.idTransacao = t2.idTransacao

    LEFT JOIN silver.points.produtos AS t3
    ON t2.idProduto = t3.idProduto

    WHERE t1.dtCriacao < date('2024-06-01')
)

SELECT idCliente, 
    count(*) AS qtd_transacoes,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'ChatMessage' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoChatMessage,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Lista de presença' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoListaPresenca,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Resgatar Ponei' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoResgatarPonei,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Presença Streak' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoPresencaStreak,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Troca de Pontos StreamElements' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoTrocaPontosStreamElements
FROM tb_transacoes_produto
GROUP BY idCliente

In [0]:
%sql
SELECT idCliente, 
    count(*) AS qtd_transacoes,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'ChatMessage' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoChatMessage,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Lista de presença' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoListaPresenca,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Resgatar Ponei' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoResgatarPonei,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Presença Streak' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoPresencaStreak,
    COUNT(DISTINCT CASE WHEN descNomeProduto = 'Troca de Pontos StreamElements' THEN idTransacaoProduto END) / count(distinct idTransacaoProduto) AS pctidTransacaoProdutoTrocaPontosStreamElements
FROM tb_transacoes_produto
GROUP BY idCliente

In [0]:
%sql
SELECT *   FROM silver.points.transacoes
WHERE idCliente = "f4e13662-c29f-4143-b2fa-d195f20f041d"

In [0]:
%sql
SELECT 
    idCliente,
    min(dtCriacao) AS dtCriacao_min,
    count(*),
    datediff(date("2024-07-01"), date(dtCriacao_min)) AS qtd_idade_em_dias
FROM silver.points.transacoes
WHERE dtCriacao < "2024-07-01"
GROUP BY idCliente

In [0]:
%sql

WITH tb_clientes_base AS (
    SELECT 
        idCliente,
        min(dtCriacao) AS dtCriacao_min,
        count(*) AS qtd_transacoes
    FROM silver.points.transacoes
    WHERE dtCriacao < "2024-07-01"
    GROUP BY idCliente
)

SELECT 
    "2024-07-01" AS dtSafra,
    idCliente,
    datediff(date("2024-07-01"), date(dtCriacao_min)) AS qtd_idade_em_dias,
    qtd_transacoes
FROM tb_clientes_base

In [0]:
%sql

WITH tb_clientes_base AS (
    SELECT 
        idCliente,
        min(dtCriacao) AS dtCriacao_min,
        count(*) AS qtd_transacoes
    FROM silver.points.transacoes
    WHERE dtCriacao < '{date}'
    GROUP BY idCliente
)

SELECT 
    '{date}' AS dtSafra,
    idCliente,
    datediff(date('{date}'), date(dtCriacao_min)) AS qtd_idade_em_dias,
    qtd_transacoes
FROM tb_clientes_base